*{
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

h1 {
    color: white;
    font-size: 144px;
    font-weight: 300;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2rem;
}